/* 
File Name:  assignment1.css 
Student Name: Abdulrahman Hamid
Student ID: 301287336 
Created: 24-09-2024


this file will include all the string and constants 
that will be used in the project  
*/

/* Home.jsx styles */

.content {
    text-align: center;
    }
    
    h3 {
      font-size: 25px;
      color: #646cffaa;
    }
    
    .missionStatement {
      font-size: medium;
      margin-bottom: 20px;
      color: white;
    }
    
    .btn-primary {
      color: white;
      border-color: #646cffaa;
    }
    
    .btn-primary:hover {
      
      border-color: #5050cfff;
    }
    
    /*Layout.jsx styles*/
    .logo {
        height: 80px;
        width: 80px;
        float: left;
        will-change: filter;
        transition: filter 300ms;
      }
    .nav{
        align-items: center;
        margin-right: 31%;
      }
      
      .MainLayout-h1{
        margin-right: 6%;
      }
    
      /*about.jsx styles*/
      .MyImg{
          padding: 10px;  
          border-radius: 50%;
          width: 200px;
          height: 250px;
          object-fit: cover;
      }
      .MyName{
        font-size: 30px;
        color:646cffaa;
      }
      .MyTitle{
        font-size: 30px;
        color:646cffaa;
      }
      .AboutMe{
        font-size: 20px;
        color:white;
        text-align: left;
      }
      .aboutMeButtons1{
        padding-right: 20px;
      }
      
      /*services.jsx styles*/
      .MyServices{
        font-size: 45px; 
        font-weight: bold;
        color: #646cffaa;
        margin-bottom: 20px;
      }
      
      .gridMyServices {
      
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, auto);
          column-gap: 20px;
          row-gap: 4px;
          padding-left: 55px; 
      }
      
      .gridMapping {
        width: 300px;
        height: 300px;
        background-color: #2F363F;
        border: 0.5px solid #D1D5DB; 
        display: flex;
        flex-direction: column;
        gap: 1rem; 
        padding-left: 0.5rem; 
        padding-right: 0.5rem; 
        border-radius: 0.375rem;  
      }
      .gridMapping:hover{
        background-color: #98bcec;
        scale: 1.15;
      }
      
      .serviceMapping {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .serviceCounter {
        font-size: 20px;
        color: #D1D5DB; 
      }
      
      .serviceIcon {
      
        font-size: 20px;
        color: #646cffaa;
      }
      
      .serviceTitle {
        color: #646cffaa;
        font-weight: bold;
      }
      
      .serviceDescription {
        font-size: 15px;
        color: #D1D5DB;
      }
      
      /*project.jsx styles*/
      .projectContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 2rem;
      }
      
      .projectHighlight {
        font-size: 45px; 
        font-weight: bold;
        color: #646cffaa;
        margin-bottom: 20px;
      }
      
      .projectList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 100px;
        row-gap: 4px;
       
      }
      .projectItem {
        width: 300px;
        height: 500px;
        background-color: #2F363F;
        border: 0.5px solid #D1D5DB; 
        display: flex;
        flex-direction: column;
        gap: 1rem; 
        padding-left: 0.5rem; 
        padding-right: 0.5rem; 
        border-radius: 0.375rem;  
      }
      
      .projectItemTitle {
        font-size: 24px;
        color: white;
        margin: 1.5rem 0;
      }
      
      .projectImage {
        width: 250px;
        height: 250px;
        color: white;
      }
      
      .projectImage:hover{
        opacity:0.6;
        scale: 1.1;
      }
      
      /*contact.jsx styles*/
      .contact-form {
        font-size: 45px; 
        font-weight: bold;
        color: #646cffaa;
        margin-bottom: 20px;
      }
      
      label {
        font-size: 18px;
        color: #ffff;
      }
      
      input[type="text"], input[type="tel"],input[type="email"],select {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ffff;
        border-radius: 4px;
      }
      
      form {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background-color: #2F363F;
        border-radius: 8px;
      
      }
  
  
  
  